<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alertaciudadana.alertaseguridadciudadana">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!--
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBPph3aFqM301VZ86HPUgT-xHdDna_2Kq4"
        />
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/logomarco"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logomarco"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBPph3aFqM301VZ86HPUgT-xHdDna_2Kq4" />

        <activity
            android:name=".view.activity.RegistroActivity"
            android:theme="@style/MyDialogTheme" />
        <activity
            android:name=".view.activity.BienestarActivity"
            android:theme="@style/MyDialogTheme" />
        <activity
            android:name=".view.activity.SeguridadActivity"
            android:theme="@style/MyDialogTheme" />
        <activity
            android:name=".view.activity.IncidenteActivity"
            android:theme="@style/MyDialogTheme" />
        <activity android:name=".view.activity.UbicacionActivity"></activity>
    </application>

</manifest>